# Editor Config
idea/
.vs/

# Python Environment & Cache
**/*venv*/
__pycache__/
*.pyc

# Log
**/logs/
Plain_Craft_Launcher_2/data/*.log

# Debugging Files
**/.minecraft/
**/dist/*
nuitka-crash-report.xml